<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>633308364161-f7mphglm0a7u1ujmjtbdn6hv1mm0h5g7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.633308364161-f7mphglm0a7u1ujmjtbdn6hv1mm0h5g7</string>
	<key>API_KEY</key>
	<string>AIzaSyBTTofcLkI0DzR8eXsJZ52azRh5bkz2PDU</string>
	<key>GCM_SENDER_ID</key>
	<string>633308364161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>harooks.PetFriends</string>
	<key>PROJECT_ID</key>
	<string>petfriends-8badb</string>
	<key>STORAGE_BUCKET</key>
	<string>petfriends-8badb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633308364161:ios:2640f82ce39d5f19dc7c80</string>
</dict>
</plist>